main {
    width: 1260px;
    margin:15px auto;
}

main > section:first-child {
    display: flex;
    gap: 15px;
}

main > section:first-child > div:first-child {
    width: 250px;
    background: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}

main > section:first-child > div:last-child {
    flex: 1;
}

main section section:first-child {
    background: rgb(245, 116, 23);
    color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    
}

section button{
    padding: 10px 30px;
    background: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: orange;
}

main section section:last-child h2 {
    background: rgb(83, 146, 10);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px ;
}

main section section:last-child > div {
    display: flex;
    gap: 50px;
    margin-top: 15px;
}

main section section:last-child > div > div {
    flex: 1;
    height: 210px;
    background: rgb(145, 254, 102);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

main > section:last-child {
    margin-top: 15px;
    height: 350px;
    background: rgb(131, 97, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

 